{% extends 'base.html.twig' %}

{% block title %}Hello FotoController!{% endblock %}

{% block body %}

        
        <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>Serwis rezerwacyjny</h4>
                                    <div class="main-border-button">
                                    <a href="/register">Zarejestruj się!</a>
                                </div>
                            </div>
                            <img src="/images/wedding1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Sesje ślubne</h4>
                                            </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Sesje ślubne</h4>
                                                <p>Zarezerwuj termin na sesję ślubną</p>
                                                <div class="main-border-button">
                                                    <a href="/photographers">UMÓW</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/images/wedding2.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Sesje rodzinne</h4>
                                            </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Sesje rodzinne</h4>
                                                <p>Zarezerwuj termin na sesję rodzinną</p>
                                                <div class="main-border-button">
                                                    <a href="/photographers">UMÓW</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/images/family1.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Sesje dziecięce</h4>
                                             </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Sesje dziecięce</h4>
                                                <p>Zarezerwuj termin na sesję dziecięcą</p>
                                                <div class="main-border-button">
                                                    <a href="/photographers">UMÓW</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/images/family2.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Sesje narzeczeńskie</h4>
                                            </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Sesje narzeczeńskie</h4>
                                                <p>Zarezerwuj termin na sesję narzeczeńską</p>
                                                <div class="main-border-button">
                                                    <a href="/photographers">UMÓW</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/images/couple2.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
{% endblock %}
